name: MegaLinter

on:
  pull_request:
    branches: [main, master]
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  megalinter:
    name: MegaLinter
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write # For posting comments (optional, depending on config)
      issues: write        # For posting comments (optional)
      statuses: write      # For setting commit status

    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0 # Reviewdog/MegaLinter needs history

      - name: MegaLinter
        id: ml
        uses: oxsecurity/megalinter@ec124f79989181aca66cc1e360938bb03a8909af # v8.4.0
        env:
          # VALIDATE_ALL_CODEBASE: ${{ github.event_name == 'workflow_dispatch' }} # Validates all source when push on main, else just the git diff with main.
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Mapped to .mega-linter.yml by default, but can ideally force it here
          MEGALINTER_CONFIG: .mega-linter.yml

      - name: Archive Production Artifacts
        if: success() || failure()
        uses: actions/upload-artifact@6f51ac03b9356f520e9adb1b1b7802705f340c2b # v4
        with:
          name: MegaLinter reports
          path: |
            megalinter-reports
            mega-linter.log
